(edif W_74HC148
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 12 22 14 51 1)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A + B) & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell W_74HC148 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename datain "DataIn[7:0]") 8) (direction INPUT))
           (port EO (direction OUTPUT))
           (port (array (rename dataout "DataOut[2:0]") 3) (direction OUTPUT))
           (port EI (direction INPUT))
           (port GS (direction OUTPUT))
         )
         (contents
          (instance (rename DataOut_0_0_1 "DataOut_0_0[1]") (viewRef prim (cellRef OA1A (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIRNPU_0 "DataIn_pad_RNIRNPU[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNI90ES2_2 "DataIn_pad_RNI90ES2[2]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename DataOut_i_a3_1_0_0 "DataOut_i_a3_1_0[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename DataOut_i_a3_0 "DataOut_i_a3[0]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename DataOut_0_1 "DataOut_0[1]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename DataOut_i_0 "DataOut_i[0]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename DataOut_i_a3_1_0 "DataOut_i_a3_1[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance DataOut62 (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance GS_pad_RNO (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename DataOut_i_a3_0_0 "DataOut_i_a3_0[0]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename DataOut_0_2 "DataOut_0[2]") (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename DataOut_i_o3_0 "DataOut_i_o3[0]") (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIVRPU_2 "DataIn_pad_RNIVRPU[2]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNI30QU_4 "DataIn_pad_RNI30QU[4]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNI74QU_7 "DataIn_pad_RNI74QU[7]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance GS_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance EI_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataOut_pad_2 "DataOut_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename DataOut_pad_1 "DataOut_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename DataOut_pad_0 "DataOut_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance EO_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_7 "DataIn_pad[7]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_6 "DataIn_pad[6]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_5 "DataIn_pad[5]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_4 "DataIn_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_3 "DataIn_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_2 "DataIn_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_1 "DataIn_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_0 "DataIn_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename DataOutZ0Z62 "DataOut62") (joined
           (portRef Y (instanceRef DataOut62))
           (portRef D (instanceRef EO_pad))
          ))
          (net (rename DataOut_iZ0Z_0 "DataOut_i[0]") (joined
           (portRef Y (instanceRef DataOut_i_0))
           (portRef D (instanceRef DataOut_pad_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename DataIn_c_0 "DataIn_c[0]") (joined
           (portRef Y (instanceRef DataIn_pad_0))
           (portRef A (instanceRef DataIn_pad_RNIRNPU_0))
          ))
          (net (rename DataIn_0 "DataIn[0]") (joined
           (portRef (member datain 7))
           (portRef PAD (instanceRef DataIn_pad_0))
          ))
          (net (rename DataIn_c_1 "DataIn_c[1]") (joined
           (portRef Y (instanceRef DataIn_pad_1))
           (portRef A (instanceRef DataOut_i_o3_0))
           (portRef B (instanceRef DataIn_pad_RNIRNPU_0))
          ))
          (net (rename DataIn_1 "DataIn[1]") (joined
           (portRef (member datain 6))
           (portRef PAD (instanceRef DataIn_pad_1))
          ))
          (net (rename DataIn_c_2 "DataIn_c[2]") (joined
           (portRef Y (instanceRef DataIn_pad_2))
           (portRef A (instanceRef DataIn_pad_RNIVRPU_2))
           (portRef B (instanceRef DataOut_i_o3_0))
          ))
          (net (rename DataIn_2 "DataIn[2]") (joined
           (portRef (member datain 5))
           (portRef PAD (instanceRef DataIn_pad_2))
          ))
          (net (rename DataIn_c_3 "DataIn_c[3]") (joined
           (portRef Y (instanceRef DataIn_pad_3))
           (portRef B (instanceRef DataIn_pad_RNIVRPU_2))
           (portRef C (instanceRef DataOut_i_o3_0))
          ))
          (net (rename DataIn_3 "DataIn[3]") (joined
           (portRef (member datain 4))
           (portRef PAD (instanceRef DataIn_pad_3))
          ))
          (net (rename DataIn_c_4 "DataIn_c[4]") (joined
           (portRef Y (instanceRef DataIn_pad_4))
           (portRef B (instanceRef DataIn_pad_RNI30QU_4))
           (portRef A (instanceRef DataOut_i_a3_1_0_0))
          ))
          (net (rename DataIn_4 "DataIn[4]") (joined
           (portRef (member datain 3))
           (portRef PAD (instanceRef DataIn_pad_4))
          ))
          (net (rename DataIn_c_5 "DataIn_c[5]") (joined
           (portRef Y (instanceRef DataIn_pad_5))
           (portRef A (instanceRef DataIn_pad_RNI30QU_4))
           (portRef B (instanceRef DataOut_i_a3_1_0))
          ))
          (net (rename DataIn_5 "DataIn[5]") (joined
           (portRef (member datain 2))
           (portRef PAD (instanceRef DataIn_pad_5))
          ))
          (net (rename DataIn_c_6 "DataIn_c[6]") (joined
           (portRef Y (instanceRef DataIn_pad_6))
           (portRef B (instanceRef DataIn_pad_RNI74QU_7))
           (portRef A (instanceRef DataOut_i_a3_1_0))
           (portRef B (instanceRef DataOut_i_a3_1_0_0))
          ))
          (net (rename DataIn_6 "DataIn[6]") (joined
           (portRef (member datain 1))
           (portRef PAD (instanceRef DataIn_pad_6))
          ))
          (net (rename DataIn_c_7 "DataIn_c[7]") (joined
           (portRef Y (instanceRef DataIn_pad_7))
           (portRef A (instanceRef DataIn_pad_RNI74QU_7))
           (portRef A (instanceRef DataOut_i_a3_0_0))
          ))
          (net (rename DataIn_7 "DataIn[7]") (joined
           (portRef (member datain 0))
           (portRef PAD (instanceRef DataIn_pad_7))
          ))
          (net EO (joined
           (portRef PAD (instanceRef EO_pad))
           (portRef EO)
          ))
          (net (rename DataOut_0 "DataOut[0]") (joined
           (portRef PAD (instanceRef DataOut_pad_0))
           (portRef (member dataout 2))
          ))
          (net (rename DataOut_c_1 "DataOut_c[1]") (joined
           (portRef Y (instanceRef DataOut_0_1))
           (portRef D (instanceRef DataOut_pad_1))
          ))
          (net (rename DataOut_1 "DataOut[1]") (joined
           (portRef PAD (instanceRef DataOut_pad_1))
           (portRef (member dataout 1))
          ))
          (net (rename DataOut_c_2 "DataOut_c[2]") (joined
           (portRef Y (instanceRef DataOut_0_2))
           (portRef D (instanceRef DataOut_pad_2))
          ))
          (net (rename DataOut_2 "DataOut[2]") (joined
           (portRef PAD (instanceRef DataOut_pad_2))
           (portRef (member dataout 0))
          ))
          (net EI_c (joined
           (portRef Y (instanceRef EI_pad))
           (portRef C (instanceRef DataOut_0_2))
           (portRef B (instanceRef DataOut_i_a3_0_0))
           (portRef C (instanceRef GS_pad_RNO))
           (portRef C (instanceRef DataOut62))
           (portRef C (instanceRef DataOut_i_a3_1_0))
           (portRef B (instanceRef DataOut_0_1))
           (portRef C (instanceRef DataOut_i_a3_0))
          ))
          (net EI (joined
           (portRef EI)
           (portRef PAD (instanceRef EI_pad))
          ))
          (net GS_c (joined
           (portRef Y (instanceRef GS_pad_RNO))
           (portRef D (instanceRef GS_pad))
          ))
          (net GS (joined
           (portRef PAD (instanceRef GS_pad))
           (portRef GS)
          ))
          (net N_49 (joined
           (portRef Y (instanceRef DataOut_i_a3_1_0))
           (portRef B (instanceRef DataOut_i_0))
          ))
          (net un1_DataIn_4 (joined
           (portRef Y (instanceRef DataIn_pad_RNI74QU_7))
           (portRef B (instanceRef DataOut_0_2))
           (portRef A (instanceRef DataIn_pad_RNI90ES2_2))
           (portRef C (instanceRef DataOut_0_0_1))
          ))
          (net N_47 (joined
           (portRef Y (instanceRef DataOut_i_a3_0))
           (portRef C (instanceRef DataOut_i_0))
          ))
          (net N_48 (joined
           (portRef Y (instanceRef DataOut_i_a3_0_0))
           (portRef A (instanceRef DataOut_i_0))
          ))
          (net un1_DataIn_3 (joined
           (portRef Y (instanceRef DataIn_pad_RNI30QU_4))
           (portRef A (instanceRef DataOut_0_2))
           (portRef B (instanceRef DataIn_pad_RNI90ES2_2))
           (portRef A (instanceRef DataOut_0_0_1))
          ))
          (net un1_DataIn_2 (joined
           (portRef Y (instanceRef DataIn_pad_RNIVRPU_2))
           (portRef C (instanceRef DataIn_pad_RNI90ES2_2))
           (portRef B (instanceRef DataOut_0_0_1))
          ))
          (net N_45 (joined
           (portRef Y (instanceRef DataOut_i_o3_0))
           (portRef A (instanceRef DataOut_i_a3_0))
          ))
          (net (rename DataOut_i_a3_1Z0Z_0 "DataOut_i_a3_1[0]") (joined
           (portRef Y (instanceRef DataOut_i_a3_1_0_0))
           (portRef B (instanceRef DataOut_i_a3_0))
          ))
          (net un1_DataIn_0 (joined
           (portRef Y (instanceRef DataIn_pad_RNI90ES2_2))
           (portRef B (instanceRef GS_pad_RNO))
           (portRef A (instanceRef DataOut62))
          ))
          (net un1_DataIn_1 (joined
           (portRef Y (instanceRef DataIn_pad_RNIRNPU_0))
           (portRef A (instanceRef GS_pad_RNO))
           (portRef B (instanceRef DataOut62))
          ))
          (net (rename DataOut_0_0Z0Z_1 "DataOut_0_0[1]") (joined
           (portRef Y (instanceRef DataOut_0_0_1))
           (portRef A (instanceRef DataOut_0_1))
          ))
         )
        (property orig_inst_of (string "W_74HC148"))
       )
    )
  )
  (design W_74HC148 (cellRef W_74HC148 (libraryRef work)))
)
