(edif W_74HC112
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 12 22 22 8 31)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (!B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DLN1P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port G (direction INPUT)
           (property clock (integer 1))
 )
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
       )
    )
    (cell DFN0E1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell W_74HC112 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port S (direction INPUT))
           (port R (direction INPUT))
           (port CLK (direction INPUT))
           (port J (direction INPUT))
           (port K (direction INPUT))
           (port Q (direction OUTPUT))
           (port Qn (direction OUTPUT))
         )
         (contents
          (instance temp2_RNO_0 (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Qn_pad_RNO (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance temp2_RNISU0T (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance R_pad_RNIDEJB (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance temp2_RNO (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance temp1_RNO (viewRef prim (cellRef MX2B (libraryRef PA3)))          )
          (instance temp2 (viewRef prim (cellRef DLN1P1C1 (libraryRef PA3)))
          )
          (instance temp1 (viewRef prim (cellRef DFN0E1 (libraryRef PA3)))
          )
          (instance Qn_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance K_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance J_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance CLK_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance R_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance S_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef G (instanceRef temp2))
           (portRef D (instanceRef temp2))
          ))
          (net temp210 (joined
           (portRef Y (instanceRef temp2_RNO))
           (portRef CLR (instanceRef temp2))
          ))
          (net (rename tempZ0Z2 "temp2") (joined
           (portRef Q (instanceRef temp2))
           (portRef A (instanceRef temp2_RNISU0T))
          ))
          (net (rename tempZ0Z1 "temp1") (joined
           (portRef Q (instanceRef temp1))
           (portRef S (instanceRef temp1_RNO))
           (portRef B (instanceRef temp2_RNISU0T))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net S_c (joined
           (portRef Y (instanceRef S_pad))
           (portRef A (instanceRef temp2_RNO))
           (portRef A (instanceRef R_pad_RNIDEJB))
           (portRef A (instanceRef temp2_RNO_0))
          ))
          (net S (joined
           (portRef S)
           (portRef PAD (instanceRef S_pad))
          ))
          (net R_c (joined
           (portRef Y (instanceRef R_pad))
           (portRef B (instanceRef temp2_RNO))
           (portRef B (instanceRef R_pad_RNIDEJB))
          ))
          (net R (joined
           (portRef R)
           (portRef PAD (instanceRef R_pad))
          ))
          (net CLK_c (joined
           (portRef Y (instanceRef CLK_pad))
           (portRef CLK (instanceRef temp1))
          ))
          (net CLK (joined
           (portRef CLK)
           (portRef PAD (instanceRef CLK_pad))
          ))
          (net J_c (joined
           (portRef Y (instanceRef J_pad))
           (portRef A (instanceRef temp1_RNO))
          ))
          (net J (joined
           (portRef J)
           (portRef PAD (instanceRef J_pad))
          ))
          (net K_c (joined
           (portRef Y (instanceRef K_pad))
           (portRef B (instanceRef temp1_RNO))
          ))
          (net K (joined
           (portRef K)
           (portRef PAD (instanceRef K_pad))
          ))
          (net Q_c (joined
           (portRef Y (instanceRef temp2_RNISU0T))
           (portRef D (instanceRef Q_pad))
           (portRef A (instanceRef Qn_pad_RNO))
          ))
          (net Q (joined
           (portRef PAD (instanceRef Q_pad))
           (portRef Q)
          ))
          (net Qn (joined
           (portRef PAD (instanceRef Qn_pad))
           (portRef Qn)
          ))
          (net temp1_3 (joined
           (portRef Y (instanceRef temp1_RNO))
           (portRef D (instanceRef temp1))
          ))
          (net temp113 (joined
           (portRef Y (instanceRef R_pad_RNIDEJB))
           (portRef E (instanceRef temp1))
           (portRef S (instanceRef temp2_RNISU0T))
          ))
          (net Q_c_i (joined
           (portRef Y (instanceRef Qn_pad_RNO))
           (portRef D (instanceRef Qn_pad))
          ))
          (net S_c_i (joined
           (portRef Y (instanceRef temp2_RNO_0))
           (portRef PRE (instanceRef temp2))
          ))
         )
        (property orig_inst_of (string "W_74HC112"))
       )
    )
  )
  (design W_74HC112 (cellRef W_74HC112 (libraryRef work)))
)
