(edif W_74HC153
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 12 17 20 58 4)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell W_74HC153 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port D0 (direction INPUT))
           (port D1 (direction INPUT))
           (port D2 (direction INPUT))
           (port D3 (direction INPUT))
           (port Sel0 (direction INPUT))
           (port Sel1 (direction INPUT))
           (port Result (direction OUTPUT))
         )
         (contents
          (instance Result_3 (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance Result_2 (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance Result_1 (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance Result_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Sel1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Sel0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D3_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename ResultZ0Z_1 "Result_1") (joined
           (portRef Y (instanceRef Result_1))
           (portRef A (instanceRef Result_3))
          ))
          (net (rename ResultZ0Z_2 "Result_2") (joined
           (portRef Y (instanceRef Result_2))
           (portRef B (instanceRef Result_3))
          ))
          (net D0_c (joined
           (portRef Y (instanceRef D0_pad))
           (portRef A (instanceRef Result_1))
          ))
          (net D0 (joined
           (portRef D0)
           (portRef PAD (instanceRef D0_pad))
          ))
          (net D1_c (joined
           (portRef Y (instanceRef D1_pad))
           (portRef A (instanceRef Result_2))
          ))
          (net D1 (joined
           (portRef D1)
           (portRef PAD (instanceRef D1_pad))
          ))
          (net D2_c (joined
           (portRef Y (instanceRef D2_pad))
           (portRef B (instanceRef Result_1))
          ))
          (net D2 (joined
           (portRef D2)
           (portRef PAD (instanceRef D2_pad))
          ))
          (net D3_c (joined
           (portRef Y (instanceRef D3_pad))
           (portRef B (instanceRef Result_2))
          ))
          (net D3 (joined
           (portRef D3)
           (portRef PAD (instanceRef D3_pad))
          ))
          (net Sel0_c (joined
           (portRef Y (instanceRef Sel0_pad))
           (portRef S (instanceRef Result_1))
           (portRef S (instanceRef Result_2))
          ))
          (net Sel0 (joined
           (portRef Sel0)
           (portRef PAD (instanceRef Sel0_pad))
          ))
          (net Sel1_c (joined
           (portRef Y (instanceRef Sel1_pad))
           (portRef S (instanceRef Result_3))
          ))
          (net Sel1 (joined
           (portRef Sel1)
           (portRef PAD (instanceRef Sel1_pad))
          ))
          (net Result_c (joined
           (portRef Y (instanceRef Result_3))
           (portRef D (instanceRef Result_pad))
          ))
          (net Result (joined
           (portRef PAD (instanceRef Result_pad))
           (portRef Result)
          ))
         )
        (property orig_inst_of (string "W_74HC153"))
       )
    )
  )
  (design W_74HC153 (cellRef W_74HC153 (libraryRef work)))
)
